In [2]:
!pip install yfinance[nospam,repair]

Requirement already satisfied: yfinance[nospam,repair] in c:\users\ycage\anaconda3\lib\site-packages (0.2.35)
Requirement already satisfied: pandas>=1.3.0 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (3.17.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (1.1)
Requirement already satisfied: requests-cache>=1.0 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (1.1.1)
Requirement already satisfied: requests-ratelimiter>=0.3.1 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (0.4.2)
Requirement already satisfied: scipy>=1.6.3 in c:\users\ycage\anaconda3\lib\site-packages (from yfinance[nospam,repair]) (1.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\ycage\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance[nospam,repair]) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\ycage\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance[nospam,repair]) (1.16.0)
Requirement already satisfied: webencodings in c:\users\ycage\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance[nospam,repair]) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ycage\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance[nospam,repair]) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ycage\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance[nospam,repair]) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ycage\anaconda3\lib\site-packages (from requests>=2.31->yfinance[nospam,repair]) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ycage\anaconda3\lib\site-packages (from requests>=2.31->yfinance[nospam,repair]) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ycage\anaconda3\lib\site-packages (from requests>=2.31->yfinance[nospam,repair]) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ycage\anaconda3\lib\site-packages (from requests>=2.31->yfinance[nospam,repair]) (2023.11.17)
Requirement already satisfied: attrs>=21.2 in c:\users\ycage\anaconda3\lib\site-packages (from requests-cache>=1.0->yfinance[nospam,repair]) (23.2.0)
Requirement already satisfied: cattrs>=22.2 in c:\users\ycage\anaconda3\lib\site-packages (from requests-cache>=1.0->yfinance[nospam,repair]) (23.2.3)
Requirement already satisfied: platformdirs>=2.5 in c:\users\ycage\anaconda3\lib\site-packages (from requests-cache>=1.0->yfinance[nospam,repair]) (3.10.0)
Requirement already satisfied: url-normalize>=1.4 in c:\users\ycage\anaconda3\lib\site-packages (from requests-cache>=1.0->yfinance[nospam,repair]) (1.4.3)
Requirement already satisfied: pyrate-limiter<3.0,>=2.8 in c:\users\ycage\anaconda3\lib\site-packages (from requests-ratelimiter>=0.3.1->yfinance[nospam,repair]) (2.10.0)

In [8]:
import yfinance as yf
import pandas as pd
import pandas_datareader as pdr
import numpy as np
from pathlib import Path
from sklearn.linear_model import LinearRegression
import datetime as dt

In [3]:
tickers = yf.Tickers('msft aapl goog')

# access each ticker using (example)
tickers.tickers['MSFT'].info
tickers.tickers['AAPL'].history(period="1mo")
tickers.tickers['GOOG'].actions

                           Dividends  Stock Splits
Date
2014-03-27 00:00:00-04:00        0.0      2.002000
2015-04-27 00:00:00-04:00        0.0      1.002746
2022-07-18 00:00:00-04:00        0.0     20.000000

In [46]:
data = yf.download("SPY", start = "2023-12-18", end = "2024-1-18")

[*********************100%%**********************]  1 of 1 completed

In [47]:
close_data = data[["Close"]]

In [48]:
close_data

                 Close
Date
2023-12-18  471.970001
2023-12-19  474.839996
2023-12-20  468.260010
2023-12-21  472.700012
2023-12-22  473.649994
2023-12-26  475.649994
2023-12-27  476.510010
2023-12-28  476.690002
2023-12-29  475.309998
2024-01-02  472.649994
2024-01-03  468.790009
2024-01-04  467.279999
2024-01-05  467.920013
2024-01-08  474.600006
2024-01-09  473.880005
2024-01-10  476.559998
2024-01-11  476.350006
2024-01-12  476.679993
2024-01-16  474.929993
2024-01-17  472.290009

In [49]:
close_data.head()

                 Close
Date
2023-12-18  471.970001
2023-12-19  474.839996
2023-12-20  468.260010
2023-12-21  472.700012
2023-12-22  473.649994

In [50]:
close_data = close_data.reset_index()

In [51]:
close_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     datetime64[ns]
 1   Close   20 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 452.0 bytes

In [ ]:
df['ship_date'] = pd.to_datetime(df['ship_string'])

df['time_added'] = pd.to_timedelta(df['days_supply'],'d')
df['supply_ended'] = df['ship_date'] + df['time_added']

In [52]:
start_date = close_data["Date"][0]
print(start_date)

2023-12-18 00:00:00

In [53]:
close_data['dayspost121823'] = close_data["Date"] - start_date
close_data

         Date       Close dayspost121823
0  2023-12-18  471.970001         0 days
1  2023-12-19  474.839996         1 days
2  2023-12-20  468.260010         2 days
3  2023-12-21  472.700012         3 days
4  2023-12-22  473.649994         4 days
5  2023-12-26  475.649994         8 days
6  2023-12-27  476.510010         9 days
7  2023-12-28  476.690002        10 days
8  2023-12-29  475.309998        11 days
9  2024-01-02  472.649994        15 days
10 2024-01-03  468.790009        16 days
11 2024-01-04  467.279999        17 days
12 2024-01-05  467.920013        18 days
13 2024-01-08  474.600006        21 days
14 2024-01-09  473.880005        22 days
15 2024-01-10  476.559998        23 days
16 2024-01-11  476.350006        24 days
17 2024-01-12  476.679993        25 days
18 2024-01-16  474.929993        29 days
19 2024-01-17  472.290009        30 days

In [54]:
close_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            20 non-null     datetime64[ns]
 1   Close           20 non-null     float64
 2   dayspost121823  20 non-null     timedelta64[ns]
dtypes: datetime64[ns](1), float64(1), timedelta64[ns](1)
memory usage: 612.0 bytes

In [55]:
close_data['dayspost121823'] = close_data["dayspost121823"].dt.days
close_data

         Date       Close  dayspost121823
0  2023-12-18  471.970001               0
1  2023-12-19  474.839996               1
2  2023-12-20  468.260010               2
3  2023-12-21  472.700012               3
4  2023-12-22  473.649994               4
5  2023-12-26  475.649994               8
6  2023-12-27  476.510010               9
7  2023-12-28  476.690002              10
8  2023-12-29  475.309998              11
9  2024-01-02  472.649994              15
10 2024-01-03  468.790009              16
11 2024-01-04  467.279999              17
12 2024-01-05  467.920013              18
13 2024-01-08  474.600006              21
14 2024-01-09  473.880005              22
15 2024-01-10  476.559998              23
16 2024-01-11  476.350006              24
17 2024-01-12  476.679993              25
18 2024-01-16  474.929993              29
19 2024-01-17  472.290009              30

In [56]:
close_data = close_data[['Date', 'dayspost121823', 'Close']]
close_data

         Date  dayspost121823       Close
0  2023-12-18               0  471.970001
1  2023-12-19               1  474.839996
2  2023-12-20               2  468.260010
3  2023-12-21               3  472.700012
4  2023-12-22               4  473.649994
5  2023-12-26               8  475.649994
6  2023-12-27               9  476.510010
7  2023-12-28              10  476.690002
8  2023-12-29              11  475.309998
9  2024-01-02              15  472.649994
10 2024-01-03              16  468.790009
11 2024-01-04              17  467.279999
12 2024-01-05              18  467.920013
13 2024-01-08              21  474.600006
14 2024-01-09              22  473.880005
15 2024-01-10              23  476.559998
16 2024-01-11              24  476.350006
17 2024-01-12              25  476.679993
18 2024-01-16              29  474.929993
19 2024-01-17              30  472.290009

In [ ]:
# Linear regression: y = slope * x + y-intercept
# y = price
# x = days after start date
# slope = change in price/difference in days