In [7]:
import yfinance as yf
import pandas as pd
import numpy as np

In [8]:
#dowload all the company as list
ticker = ["SPY"]

In [4]:
#assign start date and end date
stocks = yf.download(ticker, start = "2014-01-01", end = "2023-12-31")

[*********************100%%**********************]  1 of 1 completed

In [6]:
stocks.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-01-02,183.979996,184.070007,182.479996,182.919998,152.669159,119636900
2014-01-03,183.229996,183.600006,182.630005,182.889999,152.644135,81390600
2014-01-06,183.490005,183.559998,182.080002,182.360001,152.201721,108028200
2014-01-07,183.089996,183.789993,182.949997,183.479996,153.136520,86144200
2014-01-08,183.449997,183.830002,182.889999,183.520004,153.169937,96582300

In [9]:
stocks.to_csv("p4spy.csv")

In [10]:
close = stocks.loc[:, "Close"]
close

Date
2014-01-02    182.919998
2014-01-03    182.889999
2014-01-06    182.360001
2014-01-07    183.479996
2014-01-08    183.520004
                 ...
2023-12-22    473.649994
2023-12-26    475.649994
2023-12-27    476.510010
2023-12-28    476.690002
2023-12-29    475.309998
Name: Close, Length: 2516, dtype: float64

In [11]:
close.to_csv("p4spyv2.csv")